In [1]:
from pneumonia_predictor.backend.data_fetcher import load_data
from pneumonia_predictor.backend.rf_active_smote import RfActiveSMOTE
from pneumonia_predictor.backend.rf_smote import RfSMOTE
from pneumonia_predictor.backend.tester import ModelTester

In [2]:
X_train, y_train, X_test, y_test = (
    load_data("X_train"),
    load_data("y_train"),
    load_data("X_test"),
    load_data("y_test"),
)

In [3]:
rf_smote = RfSMOTE(X_train, y_train, X_test, y_test, "pneumonia_admission")
rf_active_smote = RfActiveSMOTE(X_train, y_train, X_test, y_test, "pneumonia_admission")

In [4]:
tester = ModelTester(rf_smote, rf_active_smote)

In [5]:
tester.run_tests(10)

In [6]:
tester.model_a_res

   Test  accuracy  precision    recall  f1-score   Average
0     1  0.540000   0.565719  0.540000  0.550475  0.549048
1     2  0.533333   0.580613  0.533333  0.548543  0.548956
2     3  0.515000   0.574179  0.515000  0.531779  0.533989
3     4  0.506667   0.571425  0.506667  0.523846  0.527151
4     5  0.503333   0.570556  0.503333  0.520607  0.524457
5     6  0.493333   0.565426  0.493333  0.510777  0.515717
6     7  0.493333   0.566659  0.493333  0.510705  0.516008
7     8  0.493333   0.569148  0.493333  0.510527  0.516585
8     9  0.491667   0.569327  0.491667  0.508755  0.515354
9    10  0.488333   0.567165  0.488333  0.505411  0.512311

In [7]:
tester.model_b_res

   Test  accuracy  precision    recall  f1-score   Average
0     1  0.562667   0.576750  0.562667  0.568113  0.567549
1     2  0.520000   0.566930  0.520000  0.535497  0.535607
2     3  0.503333   0.560639  0.503333  0.520390  0.521924
3     4  0.489667   0.554356  0.489667  0.507399  0.510272
4     5  0.483000   0.554872  0.483000  0.500791  0.505416
5     6  0.480000   0.556042  0.480000  0.497597  0.503410
6     7  0.480000   0.557501  0.480000  0.497467  0.503742
7     8  0.480333   0.559683  0.480333  0.497595  0.504486
8     9  0.476000   0.556078  0.476000  0.493306  0.500346
9    10  0.463667   0.545842  0.463667  0.481038  0.488553

In [8]:
tester.compare_res

,Metrics,Random Forest + SMOTE Model,Random Forest + Active SMOTE Model,t-value,p-value
0,accuracy,0.540000,0.562667,2.954413,0.016105
1,precision,0.565719,0.576750,4.064544,0.002823
2,recall,0.540000,0.562667,2.954413,0.016105
3,f1-score,0.550475,0.568113,3.451014,0.007263